.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menuItem {
  text-decoration: none;
  color: #1e1515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItem:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.icon {
  font-size: 1.5rem;
}
