.contact {
  min-height: 50vw;
  background-color: #c6cebe;
  transform: translateY(-2rem);
}

.contactContainer {
  width: 80%;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.cardsContainer {
  display: flex;
}

.contactCard:hover > .contactIcon {
  animation: bump ease-in-out 1s;
}

.contactIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

@keyframes bump {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(60deg);
  }
  50% {
    transform: rotateX(0);
  }
  75% {
    transform: rotateX(-60deg);
  }
  100% {
    transform: rotateX(0);
  }
}

.contactCard {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
