.offer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  cursor: pointer;
  background-color: #c6cebe;
}

.cardsContainer {
  display: flex;
  justify-content: space-evenly;
}

.img {
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
}

.productCard {
  display: flex;
  margin: 1rem 0;
}
.productImg {
  width: 10%;
}

.buttonn {
  width: 40%;
  margin: 2rem 10% 0 auto;
}
