.carouselContainer {
  text-align: center;
  width: 90%;
  transform: translateY(-5rem);
}

.title {
  padding-bottom: 1rem;
  font-weight: 500;
}

.item {
  padding: 0 1rem;
}

@media only screen and (min-width: 1200px) {
  .carouselContainer {
    width: 50%;
    transform: translateY(-5rem);
  }
}
