.header > strong::first-letter {
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > svg {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
