.container {
  width: 40%;
}

.itemsContainer {
  width: 90%;
  background-color: transparent;
  display: flex;
  grid-template-columns: 85% 15%;
}

.actionBar {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.radioContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.itemsGrid {
  flex-basis: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
