.App {
  min-height: 100vh;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hidden {
  display: none;
  animation: hideAnimation 2s ease-out;
}

@keyframes hideAnimation {
  from {
    height: 75%;
  }
  to {
    height: 0%;
  }
}
