.App {
  min-height: 100vh;
}

.itemsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.showElement {
  visibility: visible;
}

.hideMenu {
  animation: showMenu 1s ease-in-out;
}

@keyframes hideAnimation {
  from {
    height: 75%;
  }
  to {
    height: 0%;
  }
}

@keyframes showMenu {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
