.button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: #1e1515;
  color: #fcf1d8;
  border-radius: 10px;
}

.button:hover,
.button:active {
  filter: brightness(1.5);
  transform: scale(1.1);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

@media only screen and (min-width: 1200px) {
  .button {
    padding: 1rem 4rem;
  }
}
